# ==========================================
# DJANGO CORE (LOCAL)
# ==========================================
ENVIRONMENT=local
DEBUG=True
# Local non-secret key
SECRET_KEY=django-insecure-local-only-not-for-production
ALLOWED_HOSTS=*

# ==========================================
# APP SETTINGS
# ==========================================
APP_VERSION=0.1.0
APP_NAME="Django Starter"
TIME_ZONE=Europe/Moscow
LOG_LEVEL=DEBUG

# ==========================================
# DATABASE & CACHE
# ==========================================
POSTGRES_DB=django_local_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_pass

# Format: postgres://USER:PASSWORD@HOST:PORT/NAME
DATABASE_URL=postgres://django_user:django_pass@db:5432/django_local_db

CACHE_ENABLED=True
REDIS_URL=redis://redis:6379/1

# ==========================================
# DOCKER UID/GID (optional, for Linux)
# ==========================================
# UID=1000
# GID=1000
